include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include requirements.txt
include VERSION
recursive-include docs *.md
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.db
global-exclude *.db-*
global-exclude *.log
global-exclude watcher-queue/*
global-exclude policy.txt
global-exclude .DS_Store